/* You can add global styles to this file, and also import other style files */

/* Image de fond uniquement pour le body */

* {
  box-sizing: border-box;
  font-family: inherit;
}

/* src/styles.css */

h1, h2, h3 {
  font-weight: 600; /* titres plus gras */
}

button {
  font-weight: 500; /* boutons un peu accentués */
}

.app-container {
  display: flex;
  height: 94vh;
}

/* Sidebar générique */
.sidebar {
  width: 220px;
  background: #9a0a0a;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  color: white;
}

.sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.logout {
  margin-top: auto;
  padding: 10px;
  background: #f5f6f8;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

/* Liste des tâches générique */
.task-list {
  flex: 2;
  padding: 20px;
  padding-top: 0px;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px;
  border-radius: 10px;
}

.task-list h2 {
  margin-bottom: 10px;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  padding: 12px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.2s;
}

.task-list li:hover {
  background-color: #f5f5f5;
}

.task-list .done {
  text-decoration: line-through;
  color: gray;
}

/* Détail générique */
.task-detail {
  flex: 1;
  background: rgba(236, 236, 236, 0.9);
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.task-detail h2 {
  margin-top: 0;
}

.task-detail button {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.task-detail button:first-of-type {
  background: #4CAF50;
  color: white;
}

.task-detail button:last-of-type {
  background: #ff4d4d;
  color: white;
}

/* Badges globaux */
.badge {
  background: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  padding: 2px 8px;
  border-radius: 5px;
  width: 20px;
  font-size: 12px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
}

.role-badge {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Couleur différente selon le rôle */
.role-badge.ADMIN {
  background: #a53232;
  color: white;
}

.role-badge.USER {
  background: #4caf50;
  color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
